*.iml
.gradle
/local.properties
!.idea/
.idea/*
!.idea/runConfigurations/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
!gradle/
gradle/*
!gradle/wrapper
gradle/wrapper/*
!gradle/wrapper/gradle-wrapper.jar